<!DOCTYPE html>
<html>

<th:block layout:fragment="css">
	<style>
.stackList {
	list-style: none;
	display: inline-block;
}

.container-stack {
	display: inline;
}

.boardList-eachOne {
	display: flex;
	align-items: center;
}
</style>
</th:block>
<h2>게시판제목</h2>

<div class="container-boardList">
	<span class="boardList-eachOne" th:each="board: ${boardList}"> <span class="container-stack">
			<div th:each="stacks : ${board.stack}">
				<div class="stackList">[[${stacks}]]</div>
			</div>
	</span> <a th:href="@{/board/detail(boardNum=${board.boardNum})}" th:text="${board.title}"></a> <span th:href="@{/board/detail(boardNum=${board.boardNum})}" th:text="|[${board.commentCount}]|"></span>
	</span>

</div>
</html>
