<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table border="1">
<tr>

<th>글번호</th>
<th>카테고리</th>
<th>제목</th>
<th>작성자</th>
<th>작성일자</th>
<th>시작일자</th>
</tr>

<tr th:each="board : ${list}">
<td><a th:href="@{/board/detail(boardNum=${board.boardNum})}" th:text="${board.boardNum}"></a></td>
<td th:text="${board.category}"></td>
<td th:text="${board.title}"></td>
<td th:text="${board.loginId}"></td>
<td th:text="${board.date}"></td>
<td th:text="${board.startDate}"></td>
</tr>
</table>

<a href="write">aa</a>
</body>
</html>