<!DOCTYPE html>
<html>

<head xmlns:th="http://www.thymeleaf.org">
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>

	<!--  목표?


value="recruit"일 경우 > 시작일자, 요구스택
value="apply"일 경우 > 가능스택

 -->
	<form action="/board/write" method="post" enctype="multipart/form-data">
		<div>카테고리
			<select name="category" style="width:200px;height:30px;">
				<option value="recruit">팀원구하기</option>
				<option value="apply">프로젝트팀구하기</option>
			</select>
		</div>
		<div>작성자<input type="text" name="memberNum" value="3" readonly></div>


		<div>프로젝트 시작일자<input type="date" name="startDate"></div>



<div>스택 <div th:replace=@{/board/multiSelect}></div>
</div>

		<div>제목<input type="text" name="title"></div>
		<div>
			<input type="file" id="chooseFile" name="uploadFile" accept="image/*">
		</div>

		<div>내용
			<textarea rows="40" cols="100" name="content" autofocus="autofocus"></textarea>
		</div>
		<div>
			<input type="file" id="chooseFile" name="chooseFile" accept="image/*" onchange="loadFile(this)" autofocus="autofocus">
		</div>
		<button type="submit">저장</button>
		<button type="button" onclick="location.href='/board/list'">목록</button>

	</form>
</body>


<script>

</script>
</html>
