<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>	
  <div class="container">
    <div>
      <form enctype="multipart/form-data">
      	<input type="file" name ="file"/>
        <input type="text" value="${loginId}" readonly/>
        <label for="nickname" >변경하실 별명</label><input id ="nickname" type="password" value="${nickName}"/>
        <label for="pw">변경하실 비밀번호</label> <input id="pw" type="text"/>
        <input type="submit" value="수정하기"/>
      </form>
    </div>
  </div>
</body>
</html>