<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>	
  <div class="container">
    <div>
      <form action="/member/memberUpdate" method="post" enctype="multipart/form-data">
      	<input type="file" name ="file"/>
        <input type="text" th:value="${loginId}" readonly/>
        <label for="nickname" >변경하실 별명</label><input name="nickname" id ="nickname" type="text" th:value="${member.nickname}"/>
        <label for="pw">변경하실 비밀번호</label> <input name ="password" id="pw" type="password"/>
        <input type="submit" value="수정하기"/>
      </form>
    </div>
  </div>
</body>
</html>

