.container .table-striped thead th:nth-child(1){
    width: 40px;
}
.container .table-striped thead th:nth-child(2){
    width: 80px;
}
.container .table-striped thead th:nth-child(3){
    width: 40px;
}
.container .table-striped thead th:nth-child(4){
    width: 40px;
}
.container .table-striped thead th:nth-child(5){
    width: 800px;
}
.container .table-striped thead th:nth-child(6){
    width: 60px;
}
.container .table-striped thead th:nth-child(7){
    width: 60px;
}
.container{
    width: 100%;
}
table{
    height: 600px;
margin:0 auto;}
table, tr, td{
    border:none;
}